.dados{
    border-radius: 2.5px;
    margin: 50px 0 0 20px;
    width: 97%;
    height:  auto;
    padding: 100px;
    background-color: whitesmoke;
    border: 1px solid #ccc;
}


.loading{
    position: fixed;
    background: rgba(0, 0, 0, 0.20);
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    z-index: 2000;
 }

 .progress{
    max-width: 70%;
 }


.backpage{
   float: left;
   margin:20px 0 0 40px;
   cursor: pointer;
   
}

#title-progress{
   margin: 18% 0 0 40%;
}

.mdl-img{
   width: 10%;
   position: relative;
   top:0;
   left: 30%;
 }

 .relationship{
   width: 7%;
   position: relative;
   top:0;
   left: 30%;
 }
 
 .rm-img{
   width: 12%;
   position: relative;
   top:0;
   left: 30%;
 }