.dados{
    border-radius: 2.5px;
    margin: 40px 0 0 10%;
    width: 80%;
    padding: 60px;
    background-color: whitesmoke;
    border: 2px solid #152359;
    border-radius: 20px;
}

.flex{
   display: flex;
   position: relative;
   left: 15%;
}

#cadastrar{
   position: relative;
   top: -10px;
   left: 10%;
   padding: 5%;
   width: 20%;
   height: 10%;
   font-size: 100px;
   cursor: pointer;
}
 
#consultar{
   position: relative;
   top: -10px;
   left: 20%;
   padding: 5%;
   width: 20%;
   height: 10%;
   font-size: 110px;
   cursor: pointer;
 }

 .title-progress{
    margin: -2% 0 0 38%;
 }

 .progress{
    margin: 20px 0 0 38%;
    max-width: 22%;
 }

 #message-sucess{
   margin: -60px 0 -10px 22%;
   max-width: 60%;
   font-weight: bold;
 }

 .mdl-img{
   width: 10%;
   position: relative;
   top:0;
   left: 36%;
 }

 .relationship{
   width: 7%;
   position: relative;
   top:0;
   left: 36%;
 }
 
 .rm-img{
   width: 12%;
   position: relative;
   top:0;
   left: 36%;
 }

 .descrition1{
   position: relative;
   top:-60px;
   left: 28%;
   max-width: 28%;
   font-weight: bold;
 }

 .descrition2{
   position: relative;
   top:-97px;
   left: 59%;
   max-width: 60%;
   font-weight: bold;
 }

#showerrors{
  position: relative;
  top: 30px;
  left: 42%;
  font-weight: bold;
}

#alerterrors{
  margin-top: 50px;
  border-radius: 10px;
  border: 1px solid #152359 ;
}

.count{
  background-color: aliceblue;
  width: 14px;
  height: 14px;
  font-size: 10px;
  color: black;
  border-radius: 20px;
  float: right;
  position: relative;
  left: 5px;

}

#info{
  font-weight: bold;

}