
<img class="mdl-img" src="../../../assets/img/mdl.png">
<img class="relationship" src="../../../assets/img/relationship.png">
<img class="rm-img" src="../../../assets/img/rm.png">

<section  class="dados">
   
    <div class="flex">
        <mat-icon id="cadastrar" (click)="cadastrarUsuarios()">group_add</mat-icon>
        <mat-icon id="consultar" routerLink ='/alunos/consultar-aluno'>supervisor_account</mat-icon>
    </div>

    <p class="descrition1">Cadastrar alunos</p>
    <p class="descrition2">Consultar alunos</p>

    <div *ngIf="!loading && cadastrar">
    <h4 class="title-progress">Carregando Alunos</h4>
         <mat-progress-bar class="progress" *ngIf="!loading && cadastrar" mode="indeterminate"></mat-progress-bar>
    </div>
    
    <div *ngIf="loading">
        <div id="message-sucess" class="alert alert-success" role="alert">
           Alunos Atualiazados com sucesso!
        </div>
    </div>
    
    <button id="showerrors" *ngIf="response != null" (click)="errors()" type="button" class="btn btn-primary">Exibir Logs <div class="count"><span>{{countresponse}}</span></div></button>
    
    <div *ngIf="showerrors" id="alerterrors" class="alert lert-primary" role="alert">
        <div *ngFor="let error of response">
            <p>{{error}}</p>
        </div>
    </div>
   
    
   
</section>